html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  .navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 100%;
    /* Init DropDown API.*/
    .drop-box-cont {
      height: 100%;
      width: auto;

      .opt {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: rgb(57, 127, 157);
        transition: transform 300ms ease-in-out;
        border: 0;
        padding: 0 50px;
        outline: none;
        cursor: pointer;
        h3 {
          font: small-caps 20px/30px Georgia, serif;
          padding: 10px 10px;
        }
      }

      .default {
        z-index: 1;
      }

      .opt:hover {
        background-color: rgb(95, 169, 196);
      }
      .opt-1 {
        top: -50px;
        z-index: -1;
      }
      .opt-2 {
        top: -100px;
        z-index: -1;
      }
      .opt-3 {
        top: -150px;
        z-index: -1;
      }
      .opt-4 {
        top: -200px;
        z-index: -1;
      }
      .opt-5 {
        top: -250px;
        z-index: -1;
      }
      .opt-6 {
        top: -300px;
        z-index: -1;
      }
      .opt-7 {
        top: -350px;
        z-index: -1;
      }
    }
    .drop-box-cont.clicked .opt-1 {
      transform: translate(0, 50px);
    }
    .drop-box-cont.clicked .opt-2 {
      transform: translate(0, 100px);
    }
    .drop-box-cont.clicked .opt-3 {
      transform: translate(0, 150px);
    }
    .drop-box-cont.clicked .opt-4 {
      transform: translate(0, 200px);
    }
    .drop-box-cont.clicked .opt-5 {
      transform: translate(0, 250px);
    }
    .drop-box-cont.clicked .opt-6 {
      transform: translate(0, 300px);
    }
    .drop-box-cont.clicked .opt-7 {
      transform: translate(0, 350px);
    }
    /* End DropDown API. */
  }
}

.hide {
  display: none;
}