@use "sass:string";
/* DropDown Dimensions */
$base: 0px;
$dim: 50px;
$d-1: $base + $dim;
$nd-1: $d-1 * -1;
$d-2: $d-1 + $dim;
$nd-2: $d-2 * -1;
$d-3: $d-2 + $dim;
$nd-3: $d-3 * -1;
$d-4: $d-3 + $dim;
$nd-4: $d-4 * -1;
$d-5: $d-4 + $dim;
$nd-5: $d-5 * -1;
$d-6: $d-5 + $dim;
$nd-6: $d-6 * -1;
$d-7: $d-6 + $dim;
$nd-7: $d-7 * -1;
$d-8: $d-7 + $dim;
$nd-8: $d-8 * -1;
$d-9: $d-8 + $dim;
$nd-9: $d-9 * -1;
$d-10: $d-9 + $dim;
$nd-10: $d-10 * -1;
/*Custom Themes*/
/*1*/
$bg-t1: rgb(57, 127, 157);
$hb-t1:rgb(95, 169, 196);

/*2*/
$bg-t2: rgb(57, 77, 157);
$hb-t2:rgb(95, 119, 196);

/*3*/
$bg-t3: rgb(57, 157, 142);
$hb-t3:rgb(95, 196, 186);

/*4*/
$bg-t4: rgb(157, 125, 57);
$hb-t4:rgb(196, 156, 95);

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  .navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 100%;
  }
}

/* Init DropDown API.*/
.drop-box-cont {
  .opt {
    transition: transform 300ms ease-in-out;
  }
  .default {
    z-index: 1;
  }
}

.opt-1 {
  top: $nd-1;
  z-index: -1;
}
.opt-2 {
  top: $nd-2;
  z-index: -1;
}
.opt-3 {
  top: $nd-3;
  z-index: -1;
}
.opt-4 {
  top: $nd-4;
  z-index: -1;
}
.opt-5 {
  top: $nd-5;
  z-index: -1;
}
.opt-6 {
  top: $nd-6;
  z-index: -1;
}
.opt-7 {
  top: $nd-7;
  z-index: -1;
}
.opt-8 {
  top: $nd-8;
  z-index: -1;
}
.opt-9 {
  top: $nd-9;
  z-index: -1;
}
.opt-10 {
  top: $nd-10;
  z-index: -1;
}

.drop-box-cont.clicked .opt-1 {
  transform: translate(0, $d-1);
}
.drop-box-cont.clicked .opt-2 {
  transform: translate(0, $d-2);
}
.drop-box-cont.clicked .opt-3 {
  transform: translate(0, $d-3);
}
.drop-box-cont.clicked .opt-4 {
  transform: translate(0, $d-4);
}
.drop-box-cont.clicked .opt-5 {
  transform: translate(0, $d-5);
}
.drop-box-cont.clicked .opt-6 {
  transform: translate(0, $d-6);
}
.drop-box-cont.clicked .opt-7 {
  transform: translate(0, $d-7);
}
.drop-box-cont.clicked .opt-8 {
  transform: translate(0, $d-8);
}
.drop-box-cont.clicked .opt-9 {
  transform: translate(0, $d-9);
}
.drop-box-cont.clicked .opt-10 {
  transform: translate(0, $d-10);
}
/* End DropDown API. */


/* Init Custom Themes */
.t-1 {
  height: 100%;
  width: auto;
  .opt {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: $bg-t1;
    border: 0;
    padding: 0 50px;
    outline: none;
    cursor: pointer;
    h3 {
      font: small-caps 20px/30px Georgia, serif;
      padding: 10px 10px;
    }
  }
  .opt:hover {
    background-color: $hb-t1;
  }
}

.t-2 {
  height: 100%;
  width: auto;
  .opt {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: $bg-t2;
    border: 0;
    padding: 0 50px;
    outline: none;
    cursor: pointer;
    h3 {
      font: small-caps 20px/30px Georgia, serif;
      padding: 10px 10px;
    }
  }
  .opt:hover {
    background-color: $hb-t2;
  }
}

.t-3 {
  height: 100%;
  width: auto;
  .opt {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: $bg-t3;
    border: 0;
    padding: 0 50px;
    outline: none;
    cursor: pointer;
    h3 {
      font: small-caps 20px/30px Georgia, serif;
      padding: 10px 10px;
    }
  }
  .opt:hover {
    background-color: $hb-t3;
  }
}

.t-4 {
  height: 100%;
  width: auto;
  .opt {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: $bg-t4;
    border: 0;
    padding: 0 50px;
    outline: none;
    cursor: pointer;
    h3 {
      font: small-caps 20px/30px Georgia, serif;
      padding: 10px 10px;
    }
  }
  .opt:hover {
    background-color: $hb-t4;
  }
}
/* End Custom Themes */